{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block body %}
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">About Hitode-Matching</h1>
            <p class="lead text-muted">
              農家の人手不足問題を解決するため、<br />
              人手を必要とする農家と、 農業体験をしたい方を<br />
              マッチングするサービスです。
            </p>
            <p>
              <a href="/hitode/create" class="btn btn-primary my-2">プログラム登録</a>
              <a href="/hitode/update" class="btn btn-primary my-2">プログラム修正</a>
              <a href="/hitode/delete" class="btn btn-primary my-2">プログラム削除</a>
            </p>
          </div>
        </div>
      </section>



      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if items %}
            {% for item in items %}
            
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                </svg>

                <div class="card-body">
                  <p class="card-text">
                    {{ item[0] }}: {{ item[2] }}
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                      修正
                      </button>
                      <form action="/hitode/delete">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                      削除
                      </button>
                      </form>
                      </div>
                    <small class="text-muted">no.{{ item[1] }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
            
    </main>
    {% endblock %}